.hero{
  min-height:85vh;

  display:flex;
  align-items:center;
  justify-content:center;

  text-align:center;

  padding:80px 20px;

  background:
  radial-gradient(circle at top,#6366F130,transparent 60%);
}

.hero h1{

  font-size:clamp(2.4rem,5vw,4.8rem);

  font-weight:800;

  margin-bottom:20px;
}

.hero p{

  max-width:700px;

  margin:auto;

  color:var(--muted);

  font-size:1.1rem;
}

.hero-buttons{

  display:flex;

  gap:16px;

  justify-content:center;

  margin-top:40px;

  flex-wrap:wrap;
}
